@model MVC_Roles.Models.User
@{
    ViewData["Title"] = "Добро пожаловать";
}
<h1 style="text-align:center">АВТОРИЗАЦИЯ</h1>
<hr/>
<br/>
<form asp-action="Index" class="form-control">
    <input type="text" >
</form>

